<p><%= link_to "Créer un nouveau resto", new_restaurant_path, class: "btn btn-primary"%></p>
<ul>
  <% @restaurants.each do |restaurant| %>
  <li>
    <%= link_to "#{restaurant.name}", restaurant_path(restaurant) %>
    <%= restaurant.address %>
    <%= restaurant.phone_number %>
    <%= restaurant.category %>
  </li>
  <% end %>
</ul>
